/* PART 1: BASE (320px and up) */

.sect9_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2em 0;
gap:3em

}

.sect9_row1 {
    width: 100%;
    text-align: center;
}

.sect9_row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.sect9_sponsor {
    flex: 0 1 40%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect9_sponsor img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* PART 2: QUERIES, SMALLEST TO LARGEST */

/* 769px and up: one row */
@media (min-width: 769px) {
    .sect9_row2 {
      flex-direction: row;
    }

    .sect9_sponsor {
        flex: 1;
    }
}