/* PART 1: BASE */
.sect8_container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0em 2em;
}

.sect8_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    text-align: center;
}

.sect8_row1,
.sect8_row2,
.sect8_row3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect8_right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect8_right img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.sect8_row3 button {
    padding: 1em 1.8em;
}

@media (min-width: 400px){
    .sect8_right {
        width: 80%;
        align-self: center;
    }
}
/* TABLET + DESKTOP */
@media (min-width: 769px) {
    .sect8_container {
        flex-direction: row;
        align-items: center;
    }

    .sect8_left {
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sect8_right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sect8_right img {
        width: 100%;
        height: auto;
    }
}